@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    cursor: pointer;
  }
  input, button, textarea, select {
    font: inherit;
    cursor: pointer;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .main-container{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: .8fr 4fr;
    grid-template-rows: auto auto;
  }
  .heading{
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-bottom: .2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .upper-heading{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: .5rem;
    align-items: center;
  }
  .icon{
    width: 1.5rem;
    height: auto;
  }

  .upper-heading-left{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 2rem 0 1rem;
    gap: 2rem;
  }

  .upper-heading-right{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
  }

  input[type="search"]{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(209, 201, 201);
    color:#0f172a;
    padding: .3rem;
  }

  .small-profile-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .big-profile-pic{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .lower-heading{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    align-items: center;
  }

  .bottom-heading-left{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
  }

  .bottom-heading-right{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }

  .bottom-heading-right button{
    border-radius: 8px;
    border: none;
    outline: none;
    padding: .4rem;
    background-color: #0f172a;
    color: #e2e8f0;
    border: 1px solid #94a3b8;
  }

  .bottom-heading-right button:hover{
    background-color: #f1f5f9;
    color: #0f172a;
    transform: scale(1.03);
  }

  .sidebar{
    display: grid;
    width: auto;
    background-color: #f1f5f9;
    grid-column: 1 /2;
    grid-row: 1 / -1;
    height: 100vh;
    max-height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    border-radius: 3px;
  }

  .sidebar-greetings{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
  }

  .sidebar-dashboard-icon{
    width: 3rem;
    height: 3rem;
  }

  .sidebar-icon{
    width: 2rem;
    height: 2rem;
  }

  .sidebar-navigation ul{
    display: grid;
    gap: .5rem;
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  .sidebar-navigation ul li{
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: 5px;
    cursor: pointer;
  }

  .sidebar-options ul{
    display: grid;
    gap: .5rem;
    list-style-type: none;
    font-weight: bold;
  }

  .sidebar-options ul li{
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: 5px;
    cursor: pointer;
  }

  .main-content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e5e7eb;
    height: fit-content;
    max-height: fit-content;
  }

  .card{
    border-radius: 8px;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1.3rem;
    transition: 0.3 ease;
  }

  .card:hover {
    cursor: pointer;
    border: .1rem solid #0f172a;
    transform: scale(1.03);
  }
  

  .card-icon-container{
    display: flex;
    justify-content: end;
    gap: .6rem;
  }

  .card-icon{
    width: 1.5rem;
    height: 2rem;
  }

  .card-icon:hover{
    background-color: #e2e8f0;
    border-radius: 5px;
  }

  .main-content-left{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
    height: min-content;
  }

  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    width: auto;
    height: min-content;
  }

  .main-content-title{
    margin-bottom: .5rem;
  }

  .card-text{
    font-weight: 200;
    margin-bottom: 1.5rem;
  }


  .main-content-right{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;
    padding: 20px;
    height: max-content;
    min-height: max-content;
  }

  .announcement-container{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    margin-bottom: .5rem;
  }

  .trending-container{
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  .trending{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
